/*
Autor  : Nicolas Ramos
Data   : 03/02/2018, 22:40:10
*/
* {
    margin: 0;
    padding: 0;
}
.menu {
    background-color: darkslategrey;
    width: 200px;
    position: relative;
    float: right;
    margin-right: 400px;
    margin-top: 39px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
}
/* aplica a todos os 'a' */
.menu a, #lbl_browser, #lbl_linux, #lbl_java, #lbl_lamp, #lbl_sudo, #lbl_ide, #lbl_github {
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: medium;
    color: #FFFFFF;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    display: block;
}
.menu a:hover {
    background-color: #3caec7;
}
.menu label:hover {
    background-color: #3caec7;
    cursor:  pointer;
}
/* aplica a todos os ul */
.menu ul {
    list-style: none;
    text-align: left;
}
/* aplica só ao segundo ul */
.menu ul>li>ul {
    visibility: hidden;
    max-height: 0;
    background-color: darkcyan;
}
/* aplica a todos los 'li' dentro de 'ul' */
.menu ul li {
    border-top: 1px solid #FFFFFF;
}
.menu ul li span {
    padding-right: 10px;
    font-size: 20px;
}
.menu ul li img {
    padding-right: 10px;
}
.menu ul li i {
    float: right;
    padding-right: 5px;
    /*background-color: darkslategrey;*/
    color: #FFFFFF;
    font-size: 22px;
}
#lbl_menu {
    font-size: 28px;
    padding: 4px 12px 0 12px;
    background-color: darkslategrey;
    color: #FFFFFF;
    float: right;
    margin-top: 1px;
    /*margin-right: 1px;*/
    text-align: right;
}
#lbl_menu:hover {
    background-color: #3caec7;
    cursor:  pointer;
}
#chk_menu:checked ~ .menu {
    margin-right: -200px;
    transition: all 0.5s;
    opacity: 1;
    visibility: visible;
}
#chk_menu:checked ~ #lbl_menu {
    width: 200px;
}
#chk_menu, #chk_browser, #chk_linux, #chk_java, #chk_lamp, #chk_sudo, #chk_ide, #chk_github {
    display: none;
}
#chk_browser:checked ~ ul, #chk_linux:checked ~ ul, #chk_java:checked ~ ul, #chk_lamp:checked ~ ul, #chk_sudo:checked ~ ul, #chk_ide:checked ~ ul, #chk_github:checked ~ ul {
    visibility: visible;
    transition: all 1s;
    opacity: 1;
    max-height: none;
}