@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?7hzyj');
  src:  url('icomoon.eot?7hzyj#iefix') format('embedded-opentype'),
    url('icomoon.ttf?7hzyj') format('truetype'),
    url('icomoon.woff?7hzyj') format('woff'),
    url('icomoon.svg?7hzyj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-select-arrows:before {
  content: "\e90b";
}
.icon-feather:before {
  content: "\e909";
}
.icon-mysql:before {
  content: "\e90a";
  /*color: #4479a1;*/
}
.icon-lightbulb:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e90d";
}
.icon-bulb:before {
  content: "\e901";
}
.icon-data:before {
  content: "\e903";
}
.icon-vynil:before {
  content: "\e904";
}
.icon-folders:before {
  content: "\e90e";
}
.icon-folder-upload2:before {
  content: "\e90f";
}
.icon-file-php:before {
  content: "\e905";
}
.icon-document-file-java:before {
  content: "\e906";
}
.icon-document-file-java2:before {
  content: "\e907";
}
.icon-document-file-php:before {
  content: "\e910";
}
.icon-user:before {
  content: "\f007";
}
.icon-arrow-circle-up:before {
  content: "\f0aa";
}
.icon-arrow-circle-down:before {
  content: "\f0ab";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-linux:before {
  content: "\f17c";
}
.icon-language:before {
  content: "\f1ab";
}
.icon-database:before {
  content: "\f1c0";
}
.icon-chrome:before {
  content: "\f268";
}
.icon-firefox:before {
  content: "\f269";
}
.icon-opera:before {
  content: "\f26a";
}
.icon-internet-explorer:before {
  content: "\f26b";
}
.icon-android:before {
  content: "\e859";
}
.icon-copyright:before {
  content: "\e90c";
}
.icon-format_list_bulleted:before {
  content: "\e241";
}
.icon-local_cafe:before {
  content: "\e541";
}
.icon-sentiment_satisfied:before {
  content: "\e813";
}
.icon-sentiment_very_satisfied:before {
  content: "\e815";
}
.icon-hash:before {
  content: "\e900";
}
.icon-home3:before {
  content: "\e902";
}
.icon-folder-upload:before {
  content: "\e934";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-database2:before {
  content: "\e964";
}
.icon-users:before {
  content: "\e972";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-mug:before {
  content: "\e9a2";
}
.icon-tree:before {
  content: "\e9bc";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-wink:before {
  content: "\e9e7";
}
.icon-terminal:before {
  content: "\ea81";
}
.icon-google3:before {
  content: "\ea8a";
}
.icon-chrome2:before {
  content: "\ead9";
}
.icon-firefox2:before {
  content: "\eada";
}
.icon-codepen:before {
  content: "\eae8";
}
.icon-IcoMoon:before {
  content: "\eaea";
}
