@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?slml3r');
  src:  url('icomoon.eot?slml3r#iefix') format('embedded-opentype'),
    url('icomoon.ttf?slml3r') format('truetype'),
    url('icomoon.woff?slml3r') format('woff'),
    url('icomoon.svg?slml3r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lightbulb:before {
  content: "\e900";
}
.icon-light:before {
  content: "\e900";
}
.icon-night:before {
  content: "\e900";
}
.icon-idea:before {
  content: "\e900";
}
.icon-thought:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}
.icon-magnifier:before {
  content: "\e901";
}
.icon-lookup:before {
  content: "\e901";
}
.icon-find:before {
  content: "\e901";
}
.icon-vynil:before {
  content: "\e902";
}
.icon-document-file-php:before {
  content: "\e903";
}
.icon-document-file-php1:before {
  content: "\e904";
}
.icon-folders:before {
  content: "\e905";
}
.icon-document-file-java:before {
  content: "\e906";
}
.icon-document-file-java1:before {
  content: "\e907";
}
.icon-document-file-css:before {
  content: "\e908";
}
.icon-document-file-css1:before {
  content: "\e909";
}
.icon-document-file-html:before {
  content: "\e90a";
}
.icon-document-file-html1:before {
  content: "\e90b";
}
.icon-hash:before {
  content: "\e90c";
}
.icon-home3:before {
  content: "\e90d";
}
.icon-quill:before {
  content: "\e90e";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-mug:before {
  content: "\e9a2";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-terminal:before {
  content: "\ea81";
}
.icon-google3:before {
  content: "\ea8a";
}
.icon-github:before {
  content: "\eab0";
}
.icon-tux:before {
  content: "\eabd";
}
.icon-android:before {
  content: "\eac0";
}
.icon-chrome:before {
  content: "\ead9";
}
.icon-firefox:before {
  content: "\eada";
}
.icon-IE:before {
  content: "\eadb";
}
.icon-opera:before {
  content: "\eade";
}
.icon-git:before {
  content: "\eae7";
}
.icon-codepen:before {
  content: "\eae8";
}
.icon-IcoMoon:before {
  content: "\eaea";
}
.icon-hash1:before {
  content: "\e90f";
}
.icon-copyright:before {
  content: "\e918";
}
.icon-local_cafe:before {
  content: "\e910";
}
.icon-select-arrows:before {
  content: "\e919";
}
.icon-feather:before {
  content: "\e911";
}
.icon-hashtag:before {
  content: "\e912";
}
.icon-language:before {
  content: "\e913";
}
.icon-linux:before {
  content: "\e914";
}
.icon-php:before {
  content: "\e915";
  color: #777bb4;
}
.icon-java:before {
  content: "\e916";
  color: #007396;
}
.icon-python:before {
  content: "\e917";
  color: #3776ab;
}
