@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?qilmpy');
  src:  url('icomoon.eot?qilmpy#iefix') format('embedded-opentype'),
    url('icomoon.ttf?qilmpy') format('truetype'),
    url('icomoon.woff?qilmpy') format('woff'),
    url('icomoon.svg?qilmpy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-folders:before {
  content: "\e90b";
}
.icon-lightbulb:before {
  content: "\e900";
}
.icon-light:before {
  content: "\e900";
}
.icon-night:before {
  content: "\e900";
}
.icon-idea:before {
  content: "\e900";
}
.icon-thought:before {
  content: "\e900";
}
.icon-vynil:before {
  content: "\e901";
}
.icon-disk:before {
  content: "\e901";
}
.icon-cd:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-magnifier:before {
  content: "\e902";
}
.icon-lookup:before {
  content: "\e902";
}
.icon-find:before {
  content: "\e902";
}
.icon-eclipseide:before {
  content: "\e909";
  color: #2c2255;
}
.icon-vynil:before {
  content: "\e901";
}
.icon-disk:before {
  content: "\e901";
}
.icon-cd:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-magnifier:before {
  content: "\e902";
}
.icon-lookup:before {
  content: "\e902";
}
.icon-find:before {
  content: "\e902";
}
.icon-select-arrows:before {
  content: "\e90a";
}
.icon-feather:before {
  content: "\e903";
}
.icon-hash:before {
  content: "\e904";
}
.icon-linux:before {
  content: "\e905";
}
.icon-language:before {
  content: "\e906";
}
.icon-copyright:before {
  content: "\e907";
}
.icon-home3:before {
  content: "\e908";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-mug:before {
  content: "\e9a2";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-terminal:before {
  content: "\ea81";
}
.icon-google3:before {
  content: "\ea8a";
}
.icon-google-drive:before {
  content: "\ea8f";
}
.icon-github:before {
  content: "\eab0";
}
.icon-android:before {
  content: "\eac0";
}
.icon-chrome:before {
  content: "\ead9";
}
.icon-firefox:before {
  content: "\eada";
}
.icon-IE:before {
  content: "\eadb";
}
.icon-opera:before {
  content: "\eade";
}
.icon-git:before {
  content: "\eae7";
}
.icon-codepen:before {
  content: "\eae8";
}
.icon-IcoMoon:before {
  content: "\eaea";
}
